<div class="jumbotron">
<div class="row">
      <div class="col-md-6">
        <h1 class="display-1">Welcome to out_Veggin!</h1>
        <h1 class="display-8"><p>Whether your here to make a "celery", or</p>
        <p>"Leek" your lips over these delish Veggies,</p>
        <p>"Lettuce" show you a great time!</p></h2>
        <h1 class="display-3">
        <p>Check out what's trending right now!</p>
        <%# <p class="lead">
           <%= link_to "Add Item", new_item_path, class:"btn btn-primary btn-lg"%>
        </p> 
         <%# <p class="lead">
           <%= link_to "Garden", items_path, class:"btn btn-primary btn-lg"%>
        </p>

    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
   <%= image_tag "carrot", class: "home-img1"%>
   <p class="lead">
           <%= link_to "Buy Now!", items_path, class:"btn btn-outline-success"%>

   </div>

   <div class="col">
   <%= image_tag "lemon", class: "home-img2"%>
   <p class="lead">
           <%= link_to "Buy Now!", items_path, class:"btn btn-outline-success"%>
   </div>