<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.email %>
</p>

<p> 
<%= image_tag @items.picture %>
</p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
